.login-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100%;
    overflow: auto;
}

.login-body {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    border: 1px solid #ccc;
}

.login-form {
    display: flex;
    flex-direction: column;
    width: 300px;
}

.login-form .form-control {
    margin-bottom: 16px;
}