.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    overflow: hidden;
    width: 100%;
}

.home-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: calc(100% - 40px);
    padding: 0 20px;
    height: 50px;
}

.home-header h2 {
    margin: 0;
    margin-right: 20px;
}

.home-content {
    width: 100%;
    height: calc(100% - 50px);
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.output-body {
    width: calc(100% - 60px);
    max-width: 800px;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    background-color: #efefef;
}

.output-body .title {
    margin: 0;
    color: #757575;
    font-weight: bold;
    font-size: 14px;
    margin-bottom: 15px;
}

.output-body .output-content {
    overflow: auto;
    width: 100%;
    height: calc(100% - 31px);
    scrollbar-width: thin;
}

.output-body .output-content p {
    margin: 0;
    color: #808080;
    font-size: 14px;
    white-space: pre-wrap;
}

.input-body {
    width: calc(100% - 60px);
    max-width: 800px;
    height: 150px;
    margin-bottom: 20px;
    padding: 10px 20px;
    border-radius: 20px;
    border: 1px solid #d5d5d5;
    position: relative;
}

.input-body .input-content {
    width: 100%;
    height: 100%;
    resize: none;
    border: none;
    outline: none;
    font-size: 14px;
    scrollbar-width: thin;
}

.loading {
    margin-left: 10px;
}

.input-body .loading {
    top: 10px;
    right: 10px;
    position: absolute;
}

.highlight-error {
    color: #DB3C1E;
    font-weight: bold;
}

.highlight-success {
    color: #059400;
}